.cart-container {
  display: flex;
  width: 100%;
  padding: 10px;
  margin: 2rem 3rem;
  border-radius: 0.5rem;  
}
.cart-container .shop-detail{
  width: 60%;
}
.cart-container .cart-title{
  display: flex;
  justify-content: left;
}

.card-container-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  width: 100%;
  margin: .5rem auto;
  padding: 1rem;
  background-color: rgba(0,0,0,0.1);
  border-radius: .5rem;

}
.card-container-cart .icon-delete{
  width: 24px;
  height: 24px;
}
.card-container-cart .icon-delete:hover{
  cursor: pointer;
}
.card-container-cart img {
  width: 100px;
  height: 100px;
}
.delete-item {
  border: none;
  padding: 5px;
  margin: 5px 0;
  color: #fff;
  background: black;
  border-radius: 5px;
  font-weight: 700;
}
.cart-container .check-container{
  width: 40%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
 
}