* {
  box-sizing: border-box;
}
.cart-container {
  display: flex;
  margin: 2rem 2rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
.cart-container .shop-detail {
  width: 65%;
}
.cart-container .cart-title {
  display: flex;
  justify-content: left;
}

.card-container-cart {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0.5rem auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}
.card-container-cart .icon-delete {
  width: 24px;
  height: 24px;
}
.card-container-cart .icon-delete:hover {
  cursor: pointer;
}
.card-container-cart img {
  width: 100px;
  height: 100px;
}
.delete-item {
  border: none;
  padding: 5px;
  margin: 5px 0;
  color: #fff;
  background: black;
  border-radius: 5px;
  font-weight: 700;
}
.cart-container .check-container {
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  margin-left: 2rem;
}
.cart-container .check-container .check-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cart-container .check-data {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  color: whitesmoke;
}
.cart-container .check-data h3 {
  text-align: left;
  margin: 0;
  padding: 1rem;
}
.cart-container .check-data button {
  padding: 1rem;
  background-color: black;
  border: none;
  color: #fff;
  letter-spacing: 0.2rem;
  transition: 0.5s ease-in;
}
.cart-container .check-data button:hover {
  cursor: pointer;
  background-color: chartreuse;
}
.cart-container .check-data a {
  padding: 0.5rem;
  color: #fff;
  text-decoration: none;
  background-color: crimson;
  border-radius: 0 0 0.5rem 0.5rem;
}
.empty-cart {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button-delete-all {
  margin-top: 40px;
  min-width: 100px;
}

.button-delete-all button {
  border: none;
  border-radius: 10px;
  padding: 10px 29px;
  background: green;
  color: #fff;
  font-weight: 600;
}
