.item-list-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 2rem;
  margin-bottom: 50px;
}

.card-container {
  width: 250px;
  min-height: 350px;
  text-align: center;
  margin: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 5px 5px 12px 0px rgba(0, 0, 0, 0.28);
}
.like-container {
  display: flex;
  justify-content: end;
}
.like-container img {
  margin: 0.5rem;
  width: 24px;
  height: 24px;
}
.like-container img:hover {
  cursor: pointer;
}

.card-container .img-card img {
  width: 200px;
  height: 220px;
}

.card-container .info-card {
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem;
}
.card-container .info-card p {
  font-size: 0.8rem;
}
.preloader-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader-container img {
  height: 90%;
}
