* {
  box-sizing: border-box;
}
.filter-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.filter-container .filter-cat,
.filter-container .filter-price,
.filter-container .filter-val {
  padding: 1rem 0;
}
fieldset {
  text-align: left;
  border: none;
  padding: 0.5rem 0;
}

input[type=number]{
  width: 60px;
  margin-left: 5px;
}

label {
  display: block;
  padding: 0.5rem 0;
}

@media (max-width:533px){
  .filter-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    padding: 0;
  }
  .filter-val,.filter-price,.filter-cat{
    margin-left: 12px;
    margin-right: 12px;
  }
}